:root{
    --color-primary: #ff5a5f;
    --font-family: Nunito,sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(95, 122, 201);
}
.nav-container{
    /* background-color: aquamarine; */
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
}

.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family:var(--font-family) ;
    font-size: 22px;
    font-weight: 700;
}
.logo>a{
    text-decoration: none;
    color: #f9f9f9;

}

.navbox{
    display: flex;
    align-items: center;
}

.dropdown{
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
    font-family: Nunito,sans-serif;
    /* border: 1px solid red; */

}

.dropdown:focus{
    color: var(--color-primary);
}

.dropbtn{
    width: 100%;
    height: 100%;
}

.dropdown > i{
    font-size: 16px;
}

.dropdown-content {
    color: var(--color-primary);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 13vw;
}

/* แสดง dropdown content เมื่อ hover ที่ dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 20px;
    margin-top: 10px;
}

.item-content{
    display: grid;
    padding: 0 30px;
    
}

.item-content > a{
    text-decoration: none;
    padding: 10px 10px;
    
}

.item-content >a:hover{
    color: var(--color-primary);
    padding-left: 20px;
    transition: all .3s ease 0s;
}


.listitem{
}

.btn-box{
}

.btn-log{
    background-color: #fff;
    border-radius: 25px;
    height: 50px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--color-primary);
}
.btn-log:hover{
    background-color: #fff!important;
    border-color: var(--color-primary);
}
.btn-log > i {
    font-size: 18px;
    margin: 5px;
}
