:root{
    --color-primary: #ff5a5f;
    --font-family: Nunito,sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    /* background-color: rgb(95, 122, 201); */
    z-index: 10;
}
.nav-container{
    /* background-color: aquamarine; */
    width: 95vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
}

.logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family:var(--font-family) ;
    font-size: 22px;
    font-weight: 700;
}
.logo>a{
    text-decoration: none;
    color: #f9f9f9;

}

.navbox{
    display: flex;
    align-items: center;
}

.dropdown{
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    padding: 10px 10px;
    font-family: Nunito,sans-serif;
    /* border: 1px solid red; */
}

.dropdown:focus{
    color: var(--color-primary);
}

.dropbtn{
    width: 100%;
    height: 100%;
}

.dropdown > i{
    font-size: 12px;
    font-weight: 600 ;
}

.dropdown-content {
    color: var(--color-primary);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 13vw;
    border-radius: 10px;

}

/* แสดง dropdown content เมื่อ hover ที่ dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
    padding-top: 20px;
    margin-top: 10px;
}

.item-content{
    display: grid;
    padding: 0 30px;
    
}

.item-content > a{
    text-decoration: none;
    padding: 10px 10px;
    
}

.item-content >a:hover{
    color: var(--color-primary);
    padding-left: 20px;
    transition: all .3s ease 0s;
}


.listitem{
}


.btn-log{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    height: 50px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--color-primary);
    
}
.btn-log:hover{
    background-color: #fff!important;
    border-color: var(--color-primary);
}
.btn-log > i {
    font-size: 18px;
    margin: 5px;
}

.banner-container{
    /* border: 1px solid blue; */
    width: 60vw;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner-container > img{
    content: "";
    background-color: #1d293e;
    /* opacity: .7; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-size: cover;
    height: 100vh;
    z-index: -100;
}

.box-banner{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 220px 0 400px;
}

.text-banner {
    color: white;
    font-family: var(--font-family);
}

.text-banner > h2{
    font-size: 55px;
    font-weight: 700;
}
.text-banner > p{
    font-size: 18px;
    font-weight: 600;
}
.input-btn{
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    margin-top: 85px;

}

.btn-box{
    margin-right: 15px;
    /* border: 1px solid rgb(16, 35, 179); */
    
}

.btn-box > button{
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #1b2032;
    font-size: 16px;
    height: 50px;
    width: 110px;
    text-align: center;
    line-height: 35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}

.btn-box :active{
    color: white;
    background-color: var(--color-primary);
}
.btn-box :focus{
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-primary);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255,90,95,.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(255,90,95,.3);
    -o-box-shadow: 0px 1px 4px 0px rgba(255,90,95,.3);
    box-shadow: 0 1px 4px #ff5a5f4d;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.input-box{ 
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid seagreen; */
}

.input-inbox{
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 20px;
    position: relative;
    z-index: 9;
}

/* .input-box::before{
    background-color: #ffffff26;
    border-radius: 8px;
    bottom: -10px;
    content: "";
    left: -10px;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: -1;
} */

.box-input{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 14px;
    color: #484848;
    line-height: 1.2;
    height: 50px;
    width: 215px;
    padding: 0.375rem 0.75rem;

}

select{
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    font-size: 14px;
    color: #484848;
    line-height: 1.2;
    height: 50px;
    width: 215px;
    padding: 0.375rem 0.75rem;

}

.input-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.input-icon > i{
    background-color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 5px;
    width: 40px;
}
.input-advan{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    font-size: 14px;
    color: #484848;
    line-height: 1.2;
    height: 50px;
    width: 85px;
    margin: 0 auto;
}

.btn-inbox{
    cursor: pointer;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-primary);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(255,90,95,.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(255,90,95,.3);
    -o-box-shadow: 0px 1px 4px 0px rgba(255,90,95,.3);
    box-shadow: 0 1px 4px #ff5a5f4d;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    height: 50px;
    width: 170px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.btn-inbox:hover{
    background-color: #fff;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.container-silde{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text-topcard{
    margin-bottom: 50px;
    
}
.text-topcard > h2{
    color: #484848;
    font-family: Nunito;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 30px;
}
.text-topcard > p{
    font-size: 16px;
    font-family: Nunito;
    color: #777;
    line-height: 1.2;
    margin-bottom: 0;
}


/* test slide */

.card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.card h2 {
    color: #333333;
}

.card p {
    color: #666666;
}



.card-box-1{
    position: relative;
    box-sizing: border-box;
    background: #1d293e;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 9px 0 10px;
}
.card img {
    width: 100%;
    border-radius: 8px;
}

/* endtest */

/* .card-box{
    background-image: url(/images/fp1.jpg);
    background: #1d293e;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px 9px 0 10px;
} */

.card-box-1 > img{
    opacity: 0.6;
    object-fit: cover;
    min-height: 220px;
    position: relative;
}

.card-intext{
    position: absolute;
}

.feature{
    cursor: pointer;
    position: absolute;
    color: #f9f9f9;
    border: 1px solid #3e4c66;
    border-radius: 3px;

    top: 30px;
    left: 10px;
    background-color: #3e4c66;
    font-size: 14px;
    font-family: Nunito;
    line-height: 1.2;

    height: 25px;
    text-align: center;
    width: 75px;
}
.sale{
    cursor: pointer;
    position: absolute;
    color:#f9f9f9;
    border: 1px solid var(--color-primary);
    border-radius: 3px;

    top: 30px;
    left: 95px;
    background-color: var(--color-primary);
    font-size: 14px;
    font-family: Nunito;
    line-height: 1.2;

    height: 25px;
    text-align: center;
    width: 75px;
}
.card-box-1 > a{
    bottom: 15px;
    font-size: 22px;
    font-family: Nunito;
    color: #fff;
    font-weight: 700;
    left: 20px;
    line-height: 1.2;
    position: absolute;
}

.arrow{
    bottom: 15px;
    position: absolute;
    right: 45px;
}
.heart{
    bottom: 15px;
    position: absolute;
    right: 5px;
}

.card-box-1 > i{
    color: #fff;
    border-radius: 8px;
    background-color: #0f151f;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    opacity: .502;
    text-align: center;
    width: 35px;  
}

.card-box-1 > i:hover{
    background-color: var(--color-primary);
    opacity: 1;
}
.card-box-2{
}

.text-card{
    display: grid;
    text-align: start;
    padding: 20px;
}

.text-card-1{
    font-size: 14px;
    font-family: Nunito;
    color: var(--color-primary);
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 15px;

}
.text-card-2{
    font-size: 18px;
    font-family: Nunito;
    color: #484848;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 700;
    text-decoration: none;
}
.text-card-2:hover{
    color: var(--color-primary);
}

.text-card-3{
    font-size: 14px;
    font-family: Nunito;
    color: #484848;
    line-height: 20px;
    margin-bottom: 15px;

}

.card-status > a{
    font-size: 14px;
    font-family: Nunito;
    color: #484848;
    line-height: 1.2;
    margin-right: 25px;
}

.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eeeeee;
    padding: 20px;
}
.avatar {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.avatar > img{
    cursor: pointer;
    object-fit: cover;
    vertical-align: middle;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}
.avatar > a{
    font-size: 14px;
    font-family: Nunito;
    color: #777;
    line-height: 1.2;
    text-decoration: none;
}
